<!doctype html>
<html lang="en">
<head>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Somalia</title>
  <link rel="icon" type="image/png" href="https://upload.wikimedia.org/wikipedia/commons/thumb/a/a0/Flag_of_Somalia.svg/800px-Flag_of_Somalia.svg.png">
  <link rel="stylesheet" href="{{ url_for('static', filename='style.css') }}">
</head>
<body>
  <!--Navbar -->
  <nav class="navbar">
    <ul>
      <li><a href="{{ url_for('home') }}">Home</a></li>
      <li><a href="{{ url_for('history') }}">History</a></li>
      <li><a href="{{ url_for('food') }}">Cuisine</a></li>
      <li><a href="{{ url_for('landmarks') }}">Landmarks</a></li>
      <li><a href="{{ url_for('learn') }}">Learn More</a></li>
    </ul>
  </nav>

  <!-- Main Content -->
  <div class="content">
    {% block content %}{% endblock %}
  </div>
</body>
</html>
